/Source_Code/__pycache__/face_eye_detector.cpython-37.pyc
/Source_Code/.idea/.gitignore
/Source_Code/.idea/.name
/Source_Code/.idea/inspectionProfiles/profiles_settings.xml
/Source_Code/.idea/misc.xml
/Source_Code/.idea/modules.xml
/Source_Code/.idea/Source_Code.iml
/Source_Code/.idea/vcs.xml
/Final_methodology.png
